<div
  class="page-header bg-image img-fluid"
  data-parallax="true"
  style="background-image: url('./assets/img/contact-us-bg.jpg')"
>
  <div class="filter"></div>
    <div class="container content-center">
      <div class="row">
        <div style="width:100px;">&nbsp;</div>
        <div class="header-inside-image">
          <h1 id="main-heading">Contact Us</h1>
          <h3 style="margin-top: 0px; text-align: left;">Are You Ready To Take the Next Step?</h3>
        </div>
      </div>
    </div>
  </div>

<div class="main">
  <div class="section">
    <div class="container">
      <!-- <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h1 id="intro">Let's Chat</h1>
          <br />
        </div>
      </div> -->
      <br />

      <br />
      <br />
      <div class="who-we-serve-sec">
        <div class="row">
          <div class="col-md-4">
            <img
              style="max-height: 400px; display: block; margin: auto;"
              class="img-thumbnail"
              src="./assets/img/nathan-lee.jpg"
              alt="Photo of Nathan Lee"
            />
            <p class="text-center">
            <a class="font-blue-color"
              style="text-align: center"
              href="mailto:nathan@servetwealth.com"
              >nathan@servetwealth.com</a
            >
            </p>
            <p class="text-center">
            <a class="font-blue-color" href="tel:6464735800">
              <i class="fa fa-phone fa-fw c-topbar-phone-icn c-phone--icn"></i>
              646-473-5800
            </a>
            </p>
          </div>
          <div class="col-md-8 mr-auto ml-auto">
            <h2
              class="text-center font-blue-color"
              style="
                font-family: Gotham, Trajan, Pro !important;
              "
            >
              Let's Chat!
            </h2>
            <form class="contact-form">
              <div class="row">
                <div class="col-md-6">
                  <label>Name</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text"
                        ><i class="nc-icon nc-single-02"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Name"
                      (focus)="focus = true"
                      (blur)="focus = false"
                    />
                  </div>
                </div>
                <div class="col-md-6">
                  <label>Email</label>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text">
                        <i class="nc-icon nc-email-85"></i
                      ></span>
                    </div>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="Email"
                      (focus)="focus1 = true"
                      (blur)="focus1 = false"
                    />
                  </div>
                </div>
              </div>
              <label>Message</label>
              <textarea
                class="form-control"
                rows="4"
                placeholder="Tell us your thoughts and feelings..."
              ></textarea>
              <div class="row">
                <div class="col-md-4 mr-auto ml-auto">
                  <button class="btn btn-info btn-lg btn-fill">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="container who-we-serve-sec">
        <div class="row justify-content-md-center">
          <div class="col col-lg-4" style="text-align: right;">
            <a
              href="https://outlook.office365.com/owa/calendar/MeetingwithNathan@servetwealth.com/bookings/"
              class="btn btn-link btn-default"
            >
              <span class="font-blue-color"
                style="
                  font-family: Gotham, Trajan, Pro !important;
                  font-size: large;
                "
              >
                MAKE AN APPOINTMENT</span
              >
            </a>
          </div>
          <div class="col-md-auto"></div>
          <div class="col col-lg-3">
            <a
              target="_blank"
              href="https://outlook.office365.com/owa/calendar/MeetingwithNathan@servetwealth.com/bookings/"
            >
              <button class="btn btn-info btn-lg btn-fill">
                <i class="fa fa-calendar"></i> &nbsp;  BOOK HERE
              </button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
