#main-heading {
  text-shadow: 2px 2px 0px #484848, 5px 4px 0px rgb(0 0 0 / 15%);
  font-family: DM Sans;
  font-weight: 700;
  position: relative;
  text-align: left !important;
  }
  
  /* page content */
  h1, h2, h3, h5, h4, h6 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
  }

  .bg-image {
    min-height: 65vh;
    height: auto;
  }

  .header-inside-image {
    border-left: 4px solid #fff; 
    padding-left: 35px;
  }

  #intro {
    color: #023047;
    font-family: Gotham, Trajan, Pro !important;   
    font-weight: 500;
  }

  .who-we-serve-sec {
    background-color: #F2F8FC; 
    padding: 20px;
  }
