<div class="container" [ngClass]="{'limitTextHeight': isReadMore}">
  <div class="row">
    <div class="col-md-6 mr-auto ml-auto">
      <time class="entry-time">{{ blogThreeContent.date }}</time>
      <h4 class="title" style="text-align: left; margin-top: 10px">
        {{ blogThreeContent.title }}
      </h4>
    </div>
    <div class="col-md-6 mr-auto ml-auto"></div>
  </div>
  <div class="row">
    <div class="col-md-8 mr-auto ml-auto" style="text-align: left">
      <p>{{ blogThreeContent.description }}</p>
      <div
        *ngFor="let blogSectionItem of blogThreeContent.sections; index as i"
      >
        <h6 class="item-headers">{{ blogSectionItem.sectionHeader }}</h6>
        <p [innerHTML]="blogSectionItem.sectionDescription"></p>
      </div>
      <p>
        A job transition of any sort is challenging, but with a strategic
        approach to managing your finances, it is possible to regain financial
        stability. To learn more about the budgeting tools our clients use and
        how we can assist you through a change of employment, contact me at
        <a
        class="email-link"
        style="text-align: center"
        href="mailto:hello@servetwealth.com"
        >hello@servetwealth.com</a
      >.
      </p>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="container">
  <button (click)="showText()" class="read-more-button">
    {{ isReadMore ? 'Read More': 'Read Less' }}
  </button>
</div>