<div
  class="page-header bg-image img-fluid"
  data-parallax="true"
  style="background-image: url('./assets/img/about-us-bg.jpg')"
>
  <div class="filter"></div>

  <div class="container">
    <div class="row">
      <div style="width:100px;">&nbsp;</div>
      <div class="header-inside-image">
        <h1 id="main-heading">About Our Firm</h1>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="section">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h1 id="intro">About Our Firm</h1>
          <br />
          <div>
            <div class="row">
              <div style="color: #212121">
                <p>
                  The foundation of Servet Wealth Management began over a decade
                  ago when I started at Merrill Lynch building my business with
                  a dedication to helping clients meet their financial goals.
                  While working with clients, I pursued the education needed to
                  earn my CERTIFIED FINANCIAL PLANNER, or CFP®, certification so
                  I can assist clients with increasingly complex financial
                  planning scenarios. I am most passionate about finding
                  solutions and options for the real-world challenges and
                  opportunities that develop for my clients as they make their
                  way along the path of their financial journey. When I am able
                  present clients with the solutions they feel confident in
                  implementing, I know that I have stayed true to the mission of
                  my business to serve them.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br />
      <br />
      <div class="about-us-sec">
        <div class="row">
          <div class="col-sm-4">
            <img
              style="max-height: 400px"
              class="img-thumbnail"
              src="./assets/img/nathan-lee.jpg"
              alt="Photo of Nathan Lee"
            />
          </div>
          <div class="col-sm-8" style="color: #212121">
            <div class="row">
              <p style="margin-top: 15%">
                I’ve always had a love of the outdoors and I grew up camping and
                hiking in many of our National Parks; some of my fondest
                memories are of camping in the beautiful Yosemite Valley. My
                wife and I share that love of exploration and new experiences
                and today we travel to new cities, enjoy renting bikes, pedaling
                around the city looking for those hidden gems, under-the-radar
                restaurants that so often reflect the culture and diversity of
                an area.
              </p>
            </div>
            <br />
            <br />
            <br />

            <div class="row">
              <div class="mr-auto ml-auto">
                <button
                  (click)="navigateToContact()"
                  class="btn btn-info btn-lg btn-fill"
                >
                  Let's Chat
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
