  #main-heading {
    text-shadow: 2px 2px 0px #484848, 5px 4px 0px rgb(0 0 0 / 15%);
    font-family: DM Sans;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 20px;
    position: relative;
  }
  
  /* page content */
  h1, h2, h6 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
  }

  .bg-image {
    min-height: 65vh;
    height: auto;
  }