<div class="wrapper">
  <div
    [hidden]="!desktopOrMobile"
    class="page-header section-dark"
    style="justify-content: center"
  >
    <video 
      id="background-video"
      playsinline
      loop
      autoplay
      [muted]="true"
      poster="assets/img/nyc-photo.jpg"
      style="position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); min-width: calc(100% + 2px); min-height: calc(100% + 2px); opacity: 1; max-height: calc(100% + 2px);"
    >
      <source src="assets/img/nyc-video.mp4" type="video/mp4" />
    </video>
    <div class="filter"></div>
    <div class="content-center">
      <div class="container-fluid">
        <div class="row">
          <div class="header-inside-image">
            <h1 id="main-heading">
              Financial Planning for the Busy Professional
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    [hidden]="desktopOrMobile"
    class="page-header bg-image img-fluid"
    data-parallax="true"
    
  >
    <div class="filter"></div>

    <div class="content-center">
      <div class="container-fluid">
        <div class="row">
          <div class="header-inside-image">
            <h1 id="main-heading">
              Financial Planning for the Busy Professional
            </h1>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="text-center font-weight-light">
            <p class="intro-prg">
              We strive to empower our clients to achieve financial success by
              providing personalized financial planning and investment
              management services that align with their priorities and values.
              Our commitment to integrity, transparency and continuous learning
              guides all of our actions, and we are dedicated to building
              long-term relationships based on trust and mutual respect.
            </p>
          </div>
        </div>
        <br />
      </div>
    </div>
  </div>
</div>
