.title {
  font-size: 1.7em;
}

.email-link {
  color: #023047;
  text-decoration: underline;
}

.limitTextHeight {
  height: 14em;
  overflow: hidden;
}

.read-more-button {
  font-size: large;
  margin: 1.5em 0px;
  background: none !important;
  border: none;
  padding: 0 !important;
  font-family: arial, sans-serif;
  color: #069;
  text-decoration: underline;
  cursor: pointer;
}

p {
  font-size: 1rem;
}

.entry-time {
  font-style: italic;
  font-family: Lora;
}

.item-headers {
  color: #023047;
  text-align: left;
  font-style: italic;
}
