.read-more-button {
    font-size: large;
    margin: 1.5em 0px;
    background: none!important;
    border: none;
    padding: 0!important;
    font-family: arial, sans-serif;
    color: #069;
    text-decoration: underline;
    cursor: pointer;
  }

  .limitTextHeight {
    height: 14em;
    overflow: hidden;
  }

  p {
    font-size: 1em;
  }

  .entry-time {
    font-style: italic;
    font-family: Lora;
  }


  .blog-images {
    max-height: 400px; 
    box-shadow: none;
  }

  .item-headers {
    color: #023047;
    text-align: left;
    font-style: italic;
  }
