<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <div class="box">
                <div>
                    <img src="assets/img/servet-wealth-logo.jpg" alt="Logo" style="max-height: 5rem;border-radius: 50%;">
                </div>
                <div id="logo-comp-name">
                    <span style="font-size: 3rem; font-weight: 100;">SERVET</span>
                    <br>WEALTH MANAGEMENT
                </div>
        </div>

        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-transparent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-transparent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/about']"><i aria-hidden="true"></i> About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/whoweserve']"><i aria-hidden="true"></i> Who We Serve</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/services']"><i aria-hidden="true"></i> Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/blog']"><i aria-hidden="true"></i> Blog</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i aria-hidden="true"></i> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://wealth.emaplan.com/ent/SignIn?ent%2fema%2flts%2ftriad%2fnathanlee"><i aria-hidden="true"></i> Client Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

