.box {
        display: flex;
        align-items: center;
    }

#logo-comp-name {
    color: #032f60; 
    margin-left:10px;
    letter-spacing: 2px;
    font-family: 'Gotham', Trajan, Pro;
    line-height: 1 !important;
}

