<!-- <nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div>
        <div class="navbar-translate">
            <a class="navbar-brand" href="https://www.servetwealth.com/" style="margin-left: 5rem;">
                <img src="assets/img/servet-wealth-logo.jpg" alt="Logo" style="max-height: 5rem;border-radius: 50%;">
                <span style="color: white;letter-spacing: 2px; margin:10px; font-size: 3rem; font-family: 'Gotham', Trajan, Pro; font-weight: 100;">SERVET</span>
            </a>

            <button class="navbar-toggler navbar-burger" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="navbar-collapse" id="navbarToggler">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Follow us on Twitter" data-placement="bottom" href="https://twitter.com/CreativeTim" target="_blank">
                        <i class="fa fa-twitter"></i>Twitter
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" rel="tooltip" title="Like us on Facebook" data-placement="bottom" href="https://www.facebook.com/CreativeTim" target="_blank">
                        <i class="fa fa-facebook-square"></i>Facebook
                    </a>
                </li>

                <li class="nav-item">
                    <a href="http://pk2-angular.creative-tim.com/documentation/tutorial" class="nav-link" target="_blank"><i class="nc-icon nc-book-bookmark"></i> Documentation</a>
                </li>
                <li class="nav-item">
                    <a href="https://www.creative-tim.com/product/paper-kit-2-pro-angular?ref=pk2-angular-free-local" target="_blank" class="btn btn-danger btn-round">Upgrade to Pro</a>
                </li>
                <li class="nav-item">
                    <a href="https://github.com/creativetimofficial/paper-kit-2-angular/issues?ref=pk2-free-local" target="_blank" class="nav-link">Have an issue</a>
                </li>
            </ul>
        </div>
    </div>
</nav> -->


<nav class="navbar navbar-expand-lg fixed-top navbar-transparent" color-on-scroll="500">
    <div class="container">
        <!-- <a class="navbar-brand" href="#">Transparent</a> -->
        <a class="navbar-brand" href="https://www.servetwealth.com/" style="margin-left: 5rem;">
            <img src="assets/img/servet-wealth-logo.jpg" alt="Logo" style="max-height: 5rem;border-radius: 50%;">
            <span style="color: white;letter-spacing: 2px; margin:10px; font-size: 3rem; font-family: 'Gotham', Trajan, Pro; font-weight: 100;">
                SERVET
            </span>
        </a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar-transparent" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
            <span class="navbar-toggler-bar"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-transparent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#"><i aria-hidden="true"></i> Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i aria-hidden="true"></i> About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i aria-hidden="true"></i> Who We Serve</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i aria-hidden="true"></i> Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#"><i aria-hidden="true"></i> Contact</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://wealth.emaplan.com/ent/SignIn?ent%2fema%2flts%2ftriad%2fnathanlee"><i aria-hidden="true"></i> Client Login</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

