<div *ngIf="blogSpecificPage">
  <app-blog-header></app-blog-header>
</div>
<div class="container" [ngClass]="{'limitTextHeight': isReadMore}">
  <div class="row">
    <div class="col-md-6 mr-auto ml-auto">
      <time class="entry-time">{{ blogOneContent.date }}</time>
      <h4 class="title" style="text-align: left; margin-top: 10px">
        <a routerLinkActive="active" routerLink="/blog/new-year-new-goals">
          {{ blogOneContent.title }}
        </a>
      </h4>
    </div>
    <div class="col-md-6 mr-auto ml-auto"></div>
  </div>
  <div class="row">
    <div class="col-md-8 mr-auto ml-auto" style="text-align: left">
      <p>{{ blogOneContent.description }}</p>
      <p>{{ blogOneContent.secondParagraph }}</p>
      <ul>
        <li *ngFor="let blogListItem of blogOneContent.list; index as i">
          <h6 class="item-headers">{{ blogListItem.listHeader }}</h6>
          <p [innerHTML]="blogListItem.listDescription"></p>
        </li>
      </ul>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
<div class="container">
  <button (click)="showText()" class="read-more-button">
    {{ isReadMore ? 'Read More': 'Read Less' }}
  </button>
  <!-- <a href="https://www.linkedin.com/shareArticle?mini=true&url=https://servetwealth.com/#/blog/new-year-ne" target=”_blank”>
    Linkedin
  </a> -->
</div>
