<div
  class="page-header bg-image img-fluid"
  data-parallax="true"
  style="background-image: url('./assets/img/bruno-abatti.jpg')"
>
  <div class="filter"></div>
  <div class="container content-center">
    <div class="row">
      <div class="header-inside-image">
        <h1 id="main-heading">Services Page</h1>
        <h5>Dedicated to delivering exceptional service</h5>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <!-- <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">Services</h2>
        </div>
      </div> -->

      <br /><br />

      <div class="row">
        <img
          style="box-shadow: none !important"
          class="img-thumbnail"
          src="./assets/img/suite-of-services.png"
          alt="Suite of Services"
        />
      </div>
    </div>
  </div>
</div>
