<div
  class="page-header bg-image img-fluid"
  data-parallax="true"
  style="background-image: url('./assets/img/services-bg.jpg')"
>
  <div class="filter"></div>
  <div class="container content-center">
    <div class="row">
      <div style="width:100px;">&nbsp;</div>
      <div class="header-inside-image">
        <h1 id="main-heading">Services Page</h1>
        <h3 style="margin-top: 0px;">Dedicated to delivering exceptional service</h3>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title"> SUITE OF SERVICES </h2>
        </div>
      </div>
      <br /><br />
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <img
          style="box-shadow: none !important"
          class="img-thumbnail"
          src="./assets/img/suite-of-services.jpg"
          alt="Suite of Services"
        />
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <h2 class="title"> PLANNING CHECKLIST </h2>
          </div>
        </div>
        <br /><br />
        <div class="row">
          <div class="col-md-8 mr-auto ml-auto">
            <img
            style="box-shadow: none !important"
            class="img-thumbnail"
            src="./assets/img/planning-checklist.jpg"
            alt="Planning Checklist"
          />
        </div>
      </div>
    </div>
  </div>
</div>
