<div
  class="page-header bg-image img-fluid"
  data-parallax="true"
  style="background-image: url('./assets/img/antoine-barres.jpg')"
>
  <div class="filter"></div>

  <div class="content-center">
    <div class="container-fluid">
      <div class="row">
        <div style="border-left: 4px solid #fff; padding-left: 35px">
          <h1 id="main-heading">Who We Serve Page</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">THE TYPE OF CLIENTS WE SERVE</h2>
        </div>
      </div>
      <nav id="navbar-example2" class="navbar navbar-light bg-light">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" (click)="inView(item1)">The Experienced Corporate Executive</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="inView(item2)">Millennials who are Highly Compensated</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="inView(item3)">Business Owners</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" (click)="inView(item4)">Inherited Wealth</a>
          </li>
        </ul>
      </nav>

      <br /><br />
      <div #item1 style="background-color: #faf9f6; padding: 20px">
        <div  class="row">
          <div class="col-sm-6" style="color: #212121">
            <h4  style="margin-top: 0 !important">
              The Experienced Corporate Executive
            </h4>
            <hr />
            <p>
              John and Amanda are experienced corporate executives who have been
              working in their roles throughout the past decade. They are a
              highly compensated partnership with a complex benefits package
              that includes both restricted stock and deferred compensation.
              However, with two kids about to go to college, and their goal of
              retirement within eyesight, they are seeking guidance to maximize
              efficiency and minimize risk. While they have set aside enough
              money to cover yearly expenses, they are looking for ways to
              continue their current lifestyle without interruption. They have
              recently bought a second beachfront home, to spend time unwinding
              on long weekends, and wish to enjoy this next chapter with the
              tranquility that comes with careful preparation.
            </p>
            <p>
              John and Amanda’s main concerns are the looming effects of taxes
              and risks inherent to highly concentrated stock positions. They
              desire increased insight into what their retirement is going to
              look like, along with assistance to confidently establish
              strategies going into retirement. To achieve the peace of mind
              they desire, they are seeking professional guidance through the
              process of selecting tax efficient strategies and are interested
              in learning about various wealth preservation tactics. Typically,
              clients like John and Amanda have a net worth of approximately $3
              to $15 million dollars.
            </p>
            <p>
              <span>How we work together:</span>
              We work to benefit clients like John and Amanda through our platinum
              level service. We begin with a robust review of their benefits
              package, after which we identify and outline the most efficient ways
              to think about investments from both a tax and risk perspective.
              Using our gathered data, we build an individualized income-based
              model, utilizing various cash flow strategies to minimize both risks
              and taxes. This tailor-made financial plan is finalized and then
              displayed within a simplified roadmap, removing all the complexity
              from their financial concerns, allowing them to enjoy retirement
              with a peace of mind.
            </p>
          </div>
          <div class="col-sm-6">
            <img style="margin: 30% 0;"
              class="img-thumbnail"
              src="./assets/img/fabio-mangione.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <br />
      <div #item2 style="background-color: #faf9f6; padding: 20px">
        <div class="row">
          <div class="col-sm-6">
            <img style="margin: 30% 0;"
              class="img-thumbnail"
              src="./assets/img/federico-beccari.jpg"
              alt=""
            />
          </div>
          <div class="col-sm-6" style="color: #212121">
            <h4  style="margin-top: 0 !important">
              Millennials who are Highly Compensated
            </h4>
            <hr />
            <p>
              Jackson and Renee are married with a dual income that exceeds
              $300,000 a year. They are driven to succeed in their careers and
              dedicate any spare time to their family. After many years of
              saving, they have proudly purchased their first home. But with one
              or two young kids to worry about, they are beginning to consider
              planning for their college education, along with arising questions
              into how insurance will play a role in their children’s futures.
            </p>
            <p>
              Jackson and Renee’s main concerns are taxes, putting their kids
              through college, and saving enough money so they can retire from
              their stressful job before the age of 65. They are often
              overworked and overstressed in dealing with big, life-changing
              events, and want to ensure they are making the correct choices.
              While they often point themselves in the right financial
              direction, they lack the time or energy needed to be confident
              that they are being as efficient with their money as possible.
              They like their careers, but the thought of doing it any longer
              than required creates unnecessary unease.
            </p>
            <p>
              <span>How we work together:</span>
              We work with clients like Jackson and Renee through our gold level
              service. We start with a thorough explanation of corporate benefits
              to ensure our clients’ maximum utilization of their company’s
              offerings and capitalize on all their hard work. We then
              custom-build a financial plan focused on educating and aligning a
              roadmap with their specific goals, highlighting targets and
              expectations for each step of the process. Finally, we ensure this
              strategy is characteristically flexible and alterable, and allowing
              for change. This strategic decision reflects our acknowledgement and
              planning for this dynamic period of life.
            </p>
            <br />
          </div>
        </div>
      </div>
      <br />
      <div #item3 style="background-color: #faf9f6; padding: 20px">
        <div class="row">

          <div class="col-sm-6" style="color: #212121">
            <h4  style="margin-top: 0 !important">Business Owners</h4>
            <hr />
            <p>
              Jason and James are best friends who started a business together
              10 years ago. After dedicating many long hours in the workplace,
              they are finally starting to see the results of their labor pay
              off. Most of their wealth is tied up in the business, but since
              cash flow has started to increase, they are thinking hard about
              what decisions they want to make. Their goals include expanding
              the business and building upon the momentum they have created but
              want to feel secure the risks there are taking won’t have adverse
              effects upon their families.
            </p>
            <p>
              Their main concern is the risk represented by a significant
              concentration of wealth in their business, and how to diversify
              that into alternative assets. They are concerned about saving
              money on taxes and are unsure if the retirement plan they started
              years ago is still the best option looking forward. They are
              looking for guidance evaluating different options in acquiring
              capital to expand their business.
            </p>
            <p>
              <span>How we work together:</span>
              Understanding their business is an important aspect to a successful
              relationship. We begin with a careful review of where the business
              stands currently, and where it’s headed. Then we align our
              strategies to take both trajectories into account, creating a
              time-based model showing how the strategies will impact growth at
              each step. Business owners like Jason and James have unique needs
              that are different from people who work at corporations, which
              includes a concentrated illiquid wealth position. Planning for this
              growth along with a defined exit strategy is an important piece to
              their retirement planning.
            </p>
          </div>
          <div class="col-sm-6">
            <img style="margin: 30% 0;"
              class="img-thumbnail"
              src="./assets/img/joshua-stannard.jpg"
              alt=""
            />
          </div>
        </div>
      </div>
      <br />
      <div #item4 style="background-color: #faf9f6; padding: 20px">
        <div class="row">
          <div class="col-sm-6">
            <img style="margin: 30% 0;"
              class="img-thumbnail"
              src="./assets/img/ilya-yakover.jpg"
              alt=""
            />
          </div>
          <div class="col-sm-6" style="color: #212121">
            <h4  style="margin-top: 0 !important">Inherited Wealth</h4>
            <hr />
            <p>
              Joanne’s mother just passed away. Her parents saved their entire
              lives and left Joanne with a significant sum of assets, but little
              instruction or knowledge on how to manage them. She is the newly
              appointed executor of her estate which includes real estate and
              various investments. Joanne’s mother often gave to charities and
              was philanthropic at heart, and Joane is unsure of the best way to
              continue her legacy. This is in a confusing time in her life where
              she needs time to grieve but now has the responsibility of this
              newly inherited wealth.
            </p>
            <p>
              Joanne has a few main concerns with her inheritance. First and
              foremost, she immediately wants to know what her tax situation
              looks like so she can plan accordingly, and if any steps can be
              taken to preserve the inheritance. She also wants to continue her
              mother’s legacy of philanthropy and figure out how that will fit
              into her own goals for herself and her family.
            </p>
            <p>
              <span>How we work together:</span>
              We work with clients like Joanne by first assessing her current
              financial position. We seek to understand what her current assets
              and liabilities are along with any ongoing expenses, which helps us
              understand how the inherited money fits into her overall financial
              status. We then develop a plan that addresses what to do with the
              assets to achieve several goals. These can include a combination of
              paying down debt, investing for her future, and continuing the
              legacy of her mother, meanwhile maximizing the use of the
              inheritance in making progress towards her families’ future
              successes.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
