#main-heading {
    text-shadow: 2px 2px 0px #484848, 5px 4px 0px rgb(0 0 0 / 15%);
    font-family: DM Sans;
    font-weight: 700;
    font-size: 2.5rem;
    padding-bottom: 20px;
    position: relative;
  }
  
  /* page content */
  h1, h2, h6 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
  }

  .bg-image {
    min-height: 65vh;
    height: auto;
  }

  .title {
    color: #023047;
    font-family: DM Sans;
    font-weight: 700;
  }

  p {
    text-align: left;
  }

  span {
    text-decoration: underline;
  }



  header[role="banner"] {
    #logo-main {
      display: block;
      margin: 20px auto;
    }
  }
  
  #navbar-primary.navbar-default {
    background: transparent;
    border: none;
    .navbar-nav { 
      width: 100%;
      text-align: center;
      > li {
        display: inline-block;
        float: none;
        > a {
          padding-left: 30px;
          padding-right: 30px;
          }
      }
    }
  }