.main-heading {
    text-shadow: 2px 2px 0px #484848, 5px 4px 0px rgb(0 0 0 / 15%);
    font-family: DM Sans;
    font-weight: 700;
    position: relative;
    text-align: left !important;
  }

  .who-we-serve-sec {
    background-color: #ebf7ff; 
    padding: 20px;
  }
  
  /* page content */
  h1, h2, h5, h6 {
    color: white;
    font-family: Trebuchet MS;
    font-weight: bold;
    text-align: center;
  }

  .bg-image {
    min-height: 65vh;
    height: auto;
  }

  .title {
    color: #023047;
    font-family: DM Sans;
    font-weight: 700;
  }

  p {
    text-align: left;
  }

  span {
    text-decoration: underline;
  }


  .nav-design {
    color: #023047 !important;
    text-align: center;
    font-size: large;
    cursor: pointer;
  }

  @media only screen and (min-width: 768px) {
    /* For desktop: */
    .nav-design {
      padding-top: 25px!important;
      padding-right: 5px!important;
      padding-bottom: 25px!important;
      padding-left: 5px!important;
    }
  }

  .nav-design:hover {
    background-color: #faf9f6;
  }