<div
  class="page-header bg-image img-fluid"
  data-parallax="true"
  style="background-image: url('./assets/img/bruno-abatti.jpg')"
>
  <div class="filter"></div>
  <div class="container content-center">
    <div class="row">
      <div class="header-inside-image">
        <h1 id="main-heading">Planning Process</h1>
        <h5>
          We implement a repeatable process that generates tangible results
        </h5>
      </div>
    </div>
  </div>
</div>

<div class="main">
  <div class="section text-center">
    <div class="container">
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h2 class="title">THE PLANNING PROCESS</h2>
        </div>
      </div>

      <br /><br />

      <div class="row">
        <img
          style="box-shadow: none !important"
          class="img-thumbnail"
          src="./assets/img/planning-process.png"
          alt="Planning process"
        />
      </div>
      <div class="row">
        <div class="col-md-8 mr-auto ml-auto">
          <h4 class="title">A 3 Meeting, 7-step process</h4>
        </div>
      </div>
      <div class="row">
        <div style="text-align: left" class="blue-sec">
          <p>
            1.&nbsp;During our discovery process, we will ask for your
            information so we can understand your personal and financial
            circumstances.
          </p>
          <p>
            2.&nbsp;We will then work with you to identify and select your
            financial goals.
          </p>
          <p>
            3.&nbsp;After we have discussed your goals and aspirations, we will
            analyze your current course of action and discuss approaches you can
            take.
          </p>
          <p>
            4.&nbsp;Next, we will develop financial planning recommendations
            that are tailored to your goals.
          </p>
          <p>5.&nbsp;We will present the financial planning recommendations.</p>
          <p>
            6.&nbsp;We will analyze and recommend actions, products and services
            to implement as part of the plan. We will work with you to decide
            which of the recommendations you would like to implement first.
          </p>
          <p>
            7.&nbsp;We will monitor and review our work together and discuss
            ongoing changes. We will remind you to tell us about changes to your
            personal and financial circumstances which can lead to updates in
            the recommendations. our work together and discuss ongoing changes.
            We will remind you to tell us about changes to your personal and
            financial circumstances which can lead to updates in the
            recommendations.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
