<footer class="footer" style="background: #032f60; color: #ffffff;padding: 10px;">
    <div class="container">
        <div class="row">
            <!-- <nav class="footer-nav"> -->
                <div class="col-md-4 col-12">
                    <h4>Contact</h4>
                    <h5>Servet Wealth Management</h5>
                    <p>
                        <i class="fa fa-map-marker fa-fw c-map-marker-icn"></i>
                            127 W 30th St, 9th FL
    
                        <p>
                            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;New York, NY 10001
                        </p>
                    
                    <p>
                        <a href="tel:6464735800">
                            <i class="fa fa-phone fa-fw  c-topbar-phone-icn c-phone--icn"></i>
                            646-473-5800
                        </a>
                    </p>
                    <p>
                        <i class="fa fa-envelope fa-fw c-topbar-email-icn c-email--icn"></i>
                        Email: <span><a href="mailto:nathan@servetwealth.com">nathan@servetwealth.com</a></span>
                    </p>
                    <a
                    href="https://www.linkedin.com/in/nathan-lee-cfp%C2%AE-63aa588/"
                    class="btn btn-facebook-bg facebook-sharrre"
                    rel="tooltip"
                    title="LinkedIn"
                  >
                  <i class="fa fa-linkedin"></i>LinkedIn
                  </a>
                    
                    <a
                    href="https://www.facebook.com/servetwealth"
                    class="btn btn-facebook-bg facebook-sharrre"
                    rel="tooltip"
                    title="Facebook"
                  >
                    <i class="fa fa-facebook-square"></i> Facebook
                  </a>

                </div>
                <div class="col-md-4 col-12">
                    <h4>Quick Links</h4>
                    <ul>
                        <li>
                            <a class="nav-link" href="#"><i aria-hidden="true"></i> Home</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/about']"><i aria-hidden="true"></i> About Us</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/whoweserve']"><i aria-hidden="true"></i> Who We Serve</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/services']"><i aria-hidden="true"></i> Services</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/blog']"><i aria-hidden="true"></i> Blog</a>
                        </li>
                        <li>
                            <a class="nav-link"[routerLink]="['/contact']"><i aria-hidden="true"></i> Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <h5  style="margin: 20px 0 0px;">
                        Triad <a target="_blank" href="https://images.response.advisorgroup.com/Web/ADVISORGROUPINC/%7Bba9f6109-8900-4b3d-875f-30c48ad4ee9b%7D_Form_CRS_-_Triad_Advisors_LLC.pdf">Form CRS</a>
                    </h5>
                    <div>
                        Check the background of your financial professional on FINRA's 
                        <a target="_blank" href="https://brokercheck.finra.org/">BrokerCheck</a>.
                    </div>
                    <br>
                    <div>
                        Securities offered through Triad Advisors, LLC., Member 
                        <a target="_blank" href="https://www.sipc.org/">FINRA/SIPC</a>. 
                        Advisory Services offered through Triad Hybrid Solutions LLC, a registered investment advisor.  
                        Servet Wealth Management and Triad Advisors, LLC are not affiliated.
                    </div>
                </div>
            <div class="credits ml-auto">
                <span class="copyright">
                    © {{test | date: 'yyyy'}}, made with <i class="fa fa-heart heart"></i> by Duygu Uz
                </span>
            </div>
        </div>
    </div>
</footer>

