<footer class="footer" style="background: #032f60; color: #ffffff;padding: 10px;">
    <div class="container">
        <div class="row">
            <!-- <nav class="footer-nav"> -->
                <div class="col-md-4 col-12">
                    <h5>Contact</h5>
                    <h5>Servet Wealth Management</h5>
                    <p style="line-height: 1em;">
                        <i class="fa fa-map-marker fa-fw c-map-marker-icn"></i>
                            127 W 30th St, 9th FL
                            <br>
                            &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;New York, NY 10001
                    
                    <p>
                        <a href="tel:6464735800">
                            <i class="fa fa-phone fa-fw  c-topbar-phone-icn c-phone--icn"></i>
                            646-473-5800
                        </a>
                    </p>
                    <p>
                        <i class="fa fa-envelope fa-fw c-topbar-email-icn c-email--icn"></i>
                        Email: <span><a href="mailto:nathan@servetwealth.com">nathan@servetwealth.com</a></span>
                    </p>
                    <a
                    href="https://www.linkedin.com/in/nathan-lee-cfp/"
                    class="btn btn-facebook-bg facebook-sharrre"
                    rel="tooltip"
                    title="LinkedIn"
                  >
                  <i class="fa fa-linkedin"></i>LinkedIn
                  </a>
                    
                    <a
                    href="https://www.facebook.com/servetwealth"
                    class="btn btn-facebook-bg facebook-sharrre"
                    rel="tooltip"
                    title="Facebook"
                  >
                    <i class="fa fa-facebook-square"></i> Facebook
                  </a>

                </div>
                <div class="col-md-4 col-12">
                    <h5>Quick Links</h5>
                    <ul>
                        <li>
                            <a class="nav-link" [routerLink]="['/']"><i aria-hidden="true"></i> Home</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/about']"><i aria-hidden="true"></i> About Us</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/whoweserve']"><i aria-hidden="true"></i> Who We Serve</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/planningprocess']"><i aria-hidden="true"></i> Services</a>
                        </li>
                        <li>
                            <a class="nav-link" [routerLink]="['/blog']"><i aria-hidden="true"></i> Blog</a>
                        </li>
                        <li>
                            <a class="nav-link"[routerLink]="['/contact']"><i aria-hidden="true"></i> Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-4 col-12">
                    <div>
                        <a class="link-underline" target="_blank" href="https://assets.osaic.com/m/1de3d459d470c2a8/original/OAS-Form-CRS.pdf?j=127696&sfmc_sub=23647612&l=2507_HTML&u=2955685&mid=534005290&jb=0">Form CRS</a>
                    </div>
                    <br>
                    <div>
                        Check the background of your financial professional on FINRA's 
                        <a class="link-underline" target="_blank" href="https://brokercheck.finra.org/">BrokerCheck</a>.
                    </div>
                    <br>
                    <div>
                        Securities offered through Triad Advisors, LLC., Member <a class="link-underline" target="_blank" href="https://www.finra.org/#/">FINRA</a>/
                        <a class="link-underline" target="_blank" href="https://www.sipc.org/">SIPC</a>. 
                        Advisory services offered through Osaic Advisory Services, LLC (Osaic Advisory). 
                        Triad and Osaic Advisory are separately owned and other entities and/or marketing names, 
                        products or services referenced here are independent of Triad and Osaic Advisory.
                    </div>
                </div>
        </div>
    </div>
</footer>

